<h1>Websocket</h1>
<hr>

<ul id="list">
 {{#each products}}
 
  <li id="{{this.id}}">{{this.id}}- {{this.title}}</li>



 {{/each}}
</ul>











<script src="../socket.io/socket.io.js"></script>
<script src="../public/js/websocket.js"></script>